.feature-box {
  min-height: 31.5rem !important;
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: $border-radius-three;
  box-shadow: $box-shadow-medium;
  transition: transform .3s;

  @media (min-width: 992px) and (max-width: 1200px) {
    min-height: 34.5rem !important;
  }

  &_icon {
    font-size: $icon-font-size-medium;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: -1rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.icon {
  font-size: $icon-font-size-medium;
  display: inline-block !important;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: -1rem;
}