// COLOR
$body-color: #F2F2F2;
$heading-primary-color: #50626C;
$heading-secondary-color: #4c4c50;
$heading-secondary-color-2: #3f3f46;

$heading-resume: #DC6B6B;
$heading-resume-details: #637F85;
$resume-job-time: #3D555F;
$resume-experience: #838c95;

$still-job: #2fc989;
$past-job: #FD6262;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #eee;
$color-gray-light-2: #f7f7f7;
$color-gray-light-3: #ddd;

$color-gray-dark: #777;
$color-gray-dark-dip: #999;
$color-gray-dark-dip-1: #333;
$color-gray-dark-dip-2: #5f656f;

$color-white: #fff;
$color-black: #000;

$paragraph-text: #555;
$pp-border-color: #E8E8E8;

//$gmail-color: #c71610;
$gmail-color: #DD5347;
$linkedin-color: #0077B5;
$github-color: #767676;

$material-pink-bg-color: #FF4181;
$material-pink-bg-color-1: #a6c;

// FONT
$default-font-size: 1.6rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.5rem;
$font-size-big: 6rem;

$icon-font-size-medium: 4rem;
$icon-font-size-big: 6rem;

// BOX-SHADOW
$box-shadow-big: 0 2.5rem 4rem rgba($color-black, .5);
$box-shadow-medium: 0 1.5rem 4rem rgba($color-black, .15);
$box-shadow-small: 0 1rem 2rem rgba($color-black, .15);
$box-shadow-x-small: 0 .5rem 2rem rgba($color-black, .15);
$box-shadow-btn-hover: 0 1rem 2rem rgba($color-black,.2);
$box-shadow-btn-active: 0 .5rem 1rem rgba($color-black,.2);
$box-shadow-text-hover: .5rem 1rem 2rem rgba($color-black, .2);

// BORDER-RADIUS
$border-radius-one: 1px;
$border-radius-two: 2px;
$border-radius-three: 3px;
$border-radius-big: 10rem;

$border-text-color: #f0ad4e;